.creator {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    padding: 25px;
    border-radius: 25px;
    background-color: #454545;
    justify-content: center;
    align-items: center;
}
.background-blend-mode{
    background-blend-mode: multiply;
}
